.container__contacto{
    margin: auto;
    object-fit: fill;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 50%;
    background-color: #fff;
    color: #000;
    
}
.social-icons > a{
    text-decoration: none;
}
.imagencon{
height: 130px;
width: 100px;
}
#contactofondo{
height: 330px;
width: 330px;
padding-top: 30px;
}
.contactose{
    padding-top: 30px;
}