.boton-nosotros{
    text-decoration: none;
}
/*header superior*/


.logo img{
    width: 200px;
}
.inicio__s input{
    width: 300px;
    padding: 10px;
    color: #000;
}

/* PRICE */
.price{
    text-align: center;
    width: 90%;
}
.price__table{
    padding-top: 60px;
    display: flex;
    gap: 2.5em;
    justify-content: space-evenly;
}
.price__element{
    background-color: #0BAEAC;
    text-align: center;
    border-radius: 10px;
    width: 300px;
    padding: 60px 40px;
    --color-plan: #fff;
    --color-price: #fff;
    --bg-cta: white;
    --color-cta: #5454d4;
    --color-items: #fff;
}
.price__element--best{
    width: 310px;
    border-radius: 10px;
    padding: 60px 40px;
    background-color: #0BAEAC;
    --color-plan: rgb(255 255 255 / 75%);
    --color-price: #fff;
    --bg-cta: #9f3919 ;
    --color-cta: #fff;
    --color-items: #fff;
}
.price__name{
    color: var(--color-plan);
    margin-top: 15px;
    font-weight: 300;
}
.price__price{
    font-size: 2.5rem;
    color: var(--color-price);
}
.price__items{
    margin-top: 25px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}
.price__cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5) ;
}

/*Nuevo nav*/
nav{
    max-width: 900px;
    margin: auto;
    
    font-size: 20px;
    margin-top: 50px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal >li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menu-horizontal >li:hover{
    background-color: #0BAEAC;
    border: none;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #fff;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: #0BAEAC;
    border: none;
}
.menu-vertical li a{
    display: block;
    color: #000;
    padding: 15px 5px 5px 2px;
    text-decoration: none;

}
@media (max-width:600px){
    .price__element{
        width: 90%;
    }
    .price__element--best{
        width: 90%;
        /* padding: 40px; */
    }
    .price__price{
        font-size: 2rem;
    }
}